body{
	
	background: #FAFAFA;
	font-size: 16px;
}
/* -------------------------------------      Encabezado       ---- */
nav{
	display: inline-block;
    top: 0;
    width: 100%;
    background-color: #333
}
	nav  ul{
		list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #333;
	}
	nav  li {
    	display: inline-block;
	}
	nav  li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	nav li a:hover {
    	background-color: #111;
	}
	nav  .active {
    	background-color: #FF4000;
	}
footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 100000;
} 

	footer h2{		
		color: #EEEEEE;
		font-size: 14px;
		font-weight: normal;			
		padding: 1em ;		
		width: 100%;
	}
.avatar-frame{border: 1px solid #c7b89e;}
.avatar-frame,.avatar-frame img{
	cursor: pointer;
    cursor: hand;
	width: 35px;
	height: 35px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */	
	margin : 0.1em 10em 0 0;
}

#botonera_footer{
	color:#A4A4A4;
	margin: 3em auto;
	text-align: center;
	width: 70%;    
}
	#botonera_footer ul{
		list-style: none;
	}
		#botonera_footer ul li{
			display: inline-block;	
		}
			#botonera_footer ul li a{
				color: #A4A4A4;
				font-size: 0.8em;
				text-decoration: none;
			}
			#botonera_footer ul li a:hover{
				color:#FF4000;
				text-decoration: underline;
			}
#login{
	border: solid 1px #ccc;
	border-radius: 1em;
	margin: 1em auto;
	min-height: 17em;
	width: 70%;
	text-align: center;
	vertical-align: text-top;
	padding: 0 2em 0 2em;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.50);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.50);
}
/*Titulo de pagina*/
#titulo{
	color:#6e6e6e;
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: -0.1em;
	text-align: left;
}
	#titulo span{
		color: #FF4000;
	}
/*------------------------------------- 	formulario login  */
.text{
	border: solid #ccc 1px;
	border-radius: 3px;

	/* height: 1.5em; */
	padding: 0.5em;
	width: 90%;
}
	.text:focus, .text:hover{
		border: solid #FF4000 1px;
		outline:0px;
	}
.label_form{
	color:#6E6E6E;
}
.boton{
	margin: 1em 0;
	background: #FF4000;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	padding: 0.5em 2em;
}
	.boton:hover{		
		background: #fff;
		border: solid 1px #FF4000;
		color:#FF4000;	
		font-weight: bold;
	}


/*---------------------------------------- Clases---------------*/
.bloque-form{
	
	margin: 0.2em auto;
	width: 50%;
}
	.bloque-label{
		display:  inline-block;
		width: 25%;
	}
	.bloque-input{
		display:  inline-block;
		width: 65%;	
	}
	.bloque-boton{
		display: inline-block;
		height: 3em;
		text-align: right;
		padding: 1em 2em 0 0;
		width: 100%;
	}

/* -------------------------------------- mensajes */
.msg{
	
	border-radius: 5px;
	margin: 0 auto;
	padding: 0.5em;
	width: 50%;	
}
	.error{
		background: #F78181;
		color: #fff;
		padding: 1em;
	}
	.ok {
		background: #58FA82;
		color: #fff;
		
	}

#navegacion li ul{
  height:0;
  overflow:hidden;
  -moz-transition-duration:.3s;
  -webkit-transition-duration:.3s;
  -o-transition-duration:.3s;
  transition-duration:.3s;
  position:absolute;
  
}
#navegacion li:hover ul{
 border-radius: 0 0  5px 40px;
  height:10em;
  
}
#navegacion li ul li{	
    display: block;
	width: 12em;
}
#navegacion li ul li a{
    text-align: left
	width: 100%;
}

/*   */
#dashboard{
	
	margin: 0 auto;
	width: 100%;	
}
	#derecha{
		border:1px solid #c4c4c4;
		border-radius: 15px;
		display: inline-block;
		margin-left: 0.3em;
		min-height:25em;
		width: 68%;
	}
	#izquierda{			
		border: 1px solid #c4c4c4;
		border-radius: 15px;
		display: inline-block;		
		width: 30%;
		vertical-align:top;
		min-height:25em;
	}
	

	#panel_botonera{
		border: 1px solid #c4c4c4;
		border-radius: 15px;
		margin-bottom: 0.5em;
		margin-left: 0.3em;
		width: 68%;
	}
		#botonera {
			display: inline-block;
			width: 40%;
		}
		#botonera ul{
				list-style: none;		
		}
		#botonera ul li {
			color:#c4c4c4;
			display: inline-block;
						
		}
		#botonera ul li a {
			border:1px solid #c4c4c4;			
			border-radius: 5px;
			color:#c4c4c4;	
			text-decoration: none;
            padding: 0.9em 1em;
			width: 20%;
		}
		#botonera ul li a:hover{
			background: #2ECCFA;
			color: #fff;
		}
		#botonera ul li .nuevo{
			background-image: url(../img/ic_note_add_black_18dp.png);
			background-repeat: no-repeat;
		}
		#botonera ul li .nuevo:hover{
			background-image: url(../img/ic_note_add_white_18dp.png);
			background-repeat: no-repeat;
		}
		#botonera ul li .cancelar{
			background-image: url(../img/ic_highlight_remove_black_18dp.png);
			background-repeat: no-repeat;
		}
		#botonera ul li .cancelar:hover{
			background-image: url(../img/ic_highlight_remove_white_18dp.png);
			background-repeat: no-repeat;
		}
		#noOrden{			
			display: inline-block;
			width: 50%;
		}
	.panel_venta{			
		display: inline-block;	
		width: 50%;
		text-align: center;
	}
		.panel_venta select{
			color:#585858;
			color: ;
			display: inline-block;		
			width: 80%;
		}
	.panel_pago{
		
		display: inline-block;
		vertical-align:top;
		width: 45%;

	}
		
		.panel_pago span{		
		display: inline-block;	
			background: black;
			font-size:4em;
			color:#fff;
			width: 100%;
			text-align: center;
		}
		.panel_pago a{
			background: #FF4000;			
			color:#fff;
			display: block;
			text-align: center;		
			text-decoration: none;
			vertical-align: top;
			width: 100%;			
		}
		.panel_pago a:hover{
			
			background: #fff;
			border:1px solid #FF4000;
			color: #FF4000;

		}
.gridCanasto{
	width: 100%;
}
	.gridCanasto select{
		width: 100%;
		font-size: 0.8em;
	}
.gridCanasto tr:nth-child(even) {background: #fff}
.gridCanasto tr:nth-child(odd) {background: #E6E6E6}
.tabla_complemento{	
	font-size: 0.7em;
	text-align: center;
	width: 100%;
}
	.tabla_complemento  td{
		border-left: 1px solid #c4c4c4;
	}
.icono {
	display: block;
	width: 30%;
	margin: 0 auto;
}
/*-------------------------------------  ToolTip ----------------*/
[data-tip] {
    position:relative;
}
[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    display:none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:35px;
    left:0px;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:18px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}
/*  Ventana Modal */
.modal {
  display: block;
  position: fixed;
  top: 50px; left: 50px; bottom: 50px; right: 50px;
  background: white;
  z-index: 100;
}
.overlay {
  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* estilo para botonera menu tortas o bebidas  */
.boton2 {
	display: inline-block;
	list-style: none;
	margin: 0.5em 0.5em;
	vertical-align: top;
}
.boton2 a{		
	background: #FF4000;	
	
	color: #6E6E6E;
	font-size: 0.7em;
	display: block;
	min-height: 1.5em;
	padding: 0.4em 0.5em;
	text-decoration: none;
	text-align: center;
	width: 7em;

}
.modal {
  display: block;
  border-radius: 35px;
  padding: 1em;
  position: fixed;
  top: 150px; left: 250px; bottom: 150px; right: 250px;
  background: #fff;
  z-index: 100;
}
.overlay {
  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.5);
}