body{
	background: #F7F8E0;
	font-size: 16px;
}

#botonera_footer{
	color:#A4A4A4;
	margin: 3em auto;
	text-align: center;
	width: 70%;    
}
	#botonera_footer ul{
		list-style: none;
	}
		#botonera_footer ul li{
			display: inline-block;	
		}
			#botonera_footer ul li a{
				color: #A4A4A4;
				font-size: 0.8em;
				text-decoration: none;
			}
			#botonera_footer ul li a:hover{
				color:#FF4000;
				text-decoration: underline;
			}
#login{
	border: solid 1px #ccc;
	border-radius: 1em;
	margin: 1em auto;
	height: 17em;
	width: 70%;
	text-align: center;
	vertical-align: text-top;
	padding: 0 2em 0 2em;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.50);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.50);
}
/*Titulo de pagina*/
#titulo{
	color:#6e6e6e;
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: -0.1em;
	text-align: left;
}
	#titulo span{
		color: #FF4000;
	}

/*------------------------------------- 	formulario login  */
.text{
	border: solid #ccc 1px;
	border-radius: 3px;
	/* height: 1.5em; */
	padding: 0.5em;
	width: 13em;
}
	.text:focus, .text:hover{
		border: solid #FF4000 1px;
		outline:0px;
	}
.label_form{
	color:#6E6E6E;
}
.boton{
	margin: 1em 0;
	background: #FF4000;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	padding: 0.5em 2em;
}
	.boton:hover{		
		background: #A4A4A4;
		color:#FF4000;
		font-weight: bold;
	}
/*---------------------------------------- Clases---------------*/
.bloque-form{
	margin: 0.2em auto;
	width: 50%;
}
	.bloque-label{
		display:  inline-block;
		width: 45%;
	}
	.bloque-input{
		display:  inline-block;
		width: 45%;	
	}
	.bloque-boton{
	
		display: inline-block;
		height: 3em;
		text-align: right;
		padding: 1em 2em 0 0;
		width: 100%;
	}

